p {
    line-height: 32px;
    margin: 0;
    font-size: 24px;
}

.footer {
    background-color: #146C94;
    width: 100%;
    color: white;
}

.footer-info {
    padding: 40px 0;
}

.footer-contact {
    display: flex;
    align-items: center;
}

.footer-address{
    display: flex;
    align-items: center;
}

.col-md-6 > {
    margin-bottom: 20px;
}

img {
    margin-right: 12px;
}