<div class="footer">
    <div class="container">
        <div class="row footer-info">
            <div class="col-md-6">
                <p>Quý khách có những gì thắc mắc hay muốn tư vấn hổ trợ đặt vé xin hãy liên hệ qua:</p>
                <div class="footer-contact my-4">
                    <img src="assets/icon/icons8-call.png" alt="#">
                    <p>1021 4333</p>
                </div>
                <div class="footer-contact">
                    <img src="assets/icon/icons8-email.png" alt="#">
                    <p>booking.com@gmail.com</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer-address mb-4">
                    <img src="assets/icon/icons8-email.png" alt="#">
                    <p>CN 1: xxx An Dương Vương, phường 4, quận 5, Thành phố Hồ Chí Minh</p>
                </div>
                <div class="footer-address">
                    <img src="assets/icon/icons8-email.png" alt="#">
                    <p>CN 2: xxx Xã Đàn, phường Nam Đồng, quận Đống Đa, Thành phố Hà Nội</p>
                </div>
            </div>
    </div>
</div>
