<div class="navbar">
    <div class="container">
        <div class="nav-items">
            <div class="item">
                <a href="#">Trang chủ</a>
            </div>
            <div class="item">
                <a href="#">Chuyến bay</a>
                <span></span>
            </div>
            <div class="item">
                <a href="#">Lịch sử vé</a>
            </div>
            <div class="item">
                <a href="#">Về fightdot</a>
            </div>
            <div class="item">
                <a href="#">Tài khoản</a>
            </div>
            <div class="item">
                <a href="#">Đăng xuất</a>
            </div>
        </div>
    </div>
</div>